@model Komodo.Models.ViewModels.HomePMViewModel
@inject Komodo.Services.IBTRolesService _rolesService
@inject Microsoft.AspNetCore.Identity.UserManager<BTUser> _userManager

@{
    ViewData["Title"] = "Home Page";
    var user = await _userManager.GetUserAsync(User);
    var roles = await _rolesService.ListUserRoles(user);
    string roleName = "";
    foreach (var role in roles)
    {
        roleName = role;
    }

    var num = 5;
    var tCount = Model.Developers.Count;
    num = tCount < num ? tCount : num;
}
<div>
    <h1>Welcome back, @user.FirstName</h1>
    <h4>Role --> <em>@roleName</em></h4>
</div>

<div class="row mt-5">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-dark text-white mb-1">
            <div class="card-body">#Projects (@Model.numProjects)</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" asp-controller="Projects" asp-action="Index">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-dark text-white mb-1">
            <div class="card-body">#Tickets (@Model.numTickets)</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" asp-controller="Tickets" asp-action="Index">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-dark text-white mb-1">
            <div class="card-body">#Closed (@Model.numClosed)</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="#">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-dark text-white mb-1">
            <div class="card-body">#Opened (@Model.numOpened)</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="#">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
</div>
@if (User.IsInRole("ProjectManager"))
{
    <div class="row">

        @* Donut Chart *@
        <div id="userbasedonut" class="col-md-5 mt-3 layout-spacing">
            <div class="widget widget-chart-two">
                <div class="widget-heading">
                    <h5 class="text-center mb-4 pt-4">User Base</h5>
                </div>
                <div class="widget-content">
                    <div id="donut-chart" class=""></div>
                </div>
            </div>
        </div>

        @* Suggested Action *@
        <div class="col-md-7 mt-3 pl-0 pr-0">
            <h5 class="text-center mb-4 pt-4">Suggested Actions</h5>
            <table class="table table-striped table-responsive-md">
                <thead>
                    <tr>
                        <th>
                            Developer
                        </th>
                        <th>
                            #Tasks
                        </th>
                        <th>
                            Ticket
                        </th>
                        <th>
                            Priority
                        </th>
                        <th>
                            Type
                        </th>
                        <th>
                            Status
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < num; i++)
                    {
                        <tr>
                            <td>
                                @Model.Developers[i].FullName
                            </td>
                            <td>
                                @Model.Count[i]
                            </td>
                            <td>
                                @Model.Tickets[i].Title
                            </td>
                            <td>
                                @Model.Tickets[i].TicketPriority.Name
                            </td>
                            <td>
                                @Model.Tickets[i].TicketType.Name
                            </td>
                            <td>
                                @Model.Tickets[i].TicketStatus.Name
                            </td>
                            <td>
                                <form asp-controller="Tickets" asp-action="Edit">
                                    <input type="hidden" name="Id" value="@Model.Tickets[i].Id" />
                                    <input type="hidden" name="Title" value="@Model.Tickets[i].Title" />
                                    <input type="hidden" name="Description" value="@Model.Tickets[i].Description" />
                                    <input type="hidden" name="Created" value="@Model.Tickets[i].Created" />
                                    <input type="hidden" name="Updated" value="@DateTime.Now" />
                                    <input type="hidden" name="ProjectId" value="@Model.Tickets[i].ProjectId" />
                                    <input type="hidden" name="TicketTypeId" value="@Model.Tickets[i].TicketTypeId" />
                                    <input type="hidden" name="TicketPriorityId" value="@Model.Tickets[i].TicketPriorityId" />
                                    <input type="hidden" name="TicketStatusId" value="@Model.Tickets[i].TicketStatusId" />
                                    <input type="hidden" name="OwnerUserId" value="@Model.Tickets[i].OwnerUserId" />
                                    <input type="hidden" name="DeveloperUserId" value="@Model.Developers[i].Id" />
                                    <input type="submit" value="Assign" class="btn btn-outline-dark" />
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}