@model Komodo.Models.ViewModels.HomePMViewModel
@inject Komodo.Services.IBTRolesService _rolesService
@inject Microsoft.AspNetCore.Identity.UserManager<BTUser> _userManager
@inject Komodo.Services.IBTProjectService _projectService


@{
    ViewData["Title"] = "Dashboard";
    var user = await _userManager.GetUserAsync(User);
    var userId = _userManager.GetUserId(User);
    var roles = await _rolesService.ListUserRoles(user);
    string roleName = "";
    foreach (var role in roles)
    {
        if (role != "Demo")
        {
            roleName = role;
        }
    }

    var num = 5;
    var tCount = Model.Developers.Count;
    num = tCount < num ? tCount : num;
}

<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-auto ml-1">
                <h1>Welcome back, @user.FirstName</h1>
                <h4>Role --> <u>@roleName</u></h4>
            </div>
            @if (User.IsInRole("ProjectManager") || User.IsInRole("Developer"))
            {
                <div class="col-md">
                    <div class="row justify-content-end">
                        <div class="nav-item dropdown notification-dropdown" style="list-style-type: none;">
                            <a href="javascript:void(0);" class="nav-link dropdown-toggle" id="notificationDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="h5">(@Model.Notifications.Count)</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell"><path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path><path d="M13.73 21a2 2 0 0 1-3.46 0"></path></svg><span class="badge badge-success"></span>
                            </a>
                            <div class="dropdown-menu position-absolute mr-5" aria-labelledby="notificationDropdown" style="background-color: whitesmoke">
                                <div class="notification-scroll">

                                    <div class="dropdown-item">
                                        <div class="media">
                                            <div class="media-body">
                                                <div class="notification-para">
                                                    @if (Model.Notifications.Count > 0)
                                                    {
                                                        @foreach (var n in Model.Notifications)
                                                        {
                                                            <a asp-controller="Tickets" asp-action="Details" asp-route-id="@n.TicketId" class="text-black">
                                                                @n.Description
                                                            </a>
                                                            <br />
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <p class="text-black mt-2"> &lt; no new notifications &gt; </p>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <!-- New update -->
        <div class="row mt-3 ml-1 mr-1">
            <div class="col-md-12 p-5 widget">
                <div class="widget-heading">
                    <h3 class="mb-4">Ticket Overview</h3>
                </div>
                <div class="row">
                    <div class="col-md">
                        <div class="card component-card_1">
                            <div class="card-body">
                                <div class="icon-svg">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline></svg>
                                </div>
                                <h5 class="card-title">Total - @Model.numTickets</h5>
                                <a asp-controller="Tickets" asp-action="Filter" class="btn btn-primary">Explore</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card component-card_1">
                            <div class="card-body">
                                <div class="icon-svg">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-check"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><polyline points="17 11 19 13 23 9"></polyline></svg>
                                </div>
                                <h5 class="card-title">Assigned - @Model.numAssigned</h5>
                                <a asp-controller="Tickets" asp-action="Filter" asp-route-filter="Assigned" class="btn btn-primary">In progress</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card component-card_1">
                            <div class="card-body">
                                <div class="icon-svg">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-x"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="18" y1="8" x2="23" y2="13"></line><line x1="23" y1="8" x2="18" y2="13"></line></svg>
                                </div>
                                <h5 class="card-title">Unassigned - @Model.numUnassigned</h5>
                                <a asp-controller="Tickets" asp-action="Filter" asp-route-filter="Unassigned" class="btn btn-primary">Need Developer</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card component-card_1">
                            <div class="card-body">
                                <div class="icon-svg">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12.01" y2="16"></line></svg>
                                </div>
                                <h5 class="card-title">Open - @Model.numOpen</h5>
                                <a asp-controller="Tickets" asp-action="Filter" asp-route-filter="Open" class="btn btn-primary">New tickets</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card component-card_1">
                            <div class="card-body">
                                <div class="icon-svg">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-triangle"><path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"></path><line x1="12" y1="9" x2="12" y2="13"></line><line x1="12" y1="17" x2="12.01" y2="17"></line></svg>
                                </div>
                                <h5 class="card-title">Critical - @Model.numCritical</h5>
                                <a asp-controller="Tickets" asp-action="Filter" asp-route-filter="Critical" class="btn btn-primary">High priority</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @if (User.IsInRole("ProjectManager"))
        {
            @* Suggested Action *@
            <div class="row mt-3 mb-3 mr-1 ml-1">
                <div class="col-md widget">
                    <h3 class="pb-3">Suggested Actions</h3>
                    <table class="table table-striped table-responsive-md ticketsIndex">
                        <thead>
                            <tr>
                                <th>
                                    Developer
                                </th>
                                <th>
                                    #Tasks
                                </th>
                                <th>
                                    Ticket
                                </th>
                                <th>
                                    Priority
                                </th>
                                <th>
                                    Type
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Assign
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var i = 0; i < num; i++)
                            {
                                <tr>
                                    <td>
                                        @Model.Developers[i].FullName
                                    </td>
                                    <td>
                                        @Model.Count[i]
                                    </td>
                                    <td>
                                        @Model.Tickets[i].Title
                                    </td>
                                    <td>
                                        @Model.Tickets[i].TicketPriority.Name
                                    </td>
                                    <td>
                                        @Model.Tickets[i].TicketType.Name
                                    </td>
                                    <td>
                                        @Model.Tickets[i].TicketStatus.Name
                                    </td>
                                    <td>
                                        <form asp-controller="Tickets" asp-action="Edit">
                                            <input type="hidden" name="Id" value="@Model.Tickets[i].Id" />
                                            <input type="hidden" name="Title" value="@Model.Tickets[i].Title" />
                                            <input type="hidden" name="Description" value="@Model.Tickets[i].Description" />
                                            <input type="hidden" name="Created" value="@Model.Tickets[i].Created" />
                                            <input type="hidden" name="Updated" value="@DateTime.Now" />
                                            <input type="hidden" name="ProjectId" value="@Model.Tickets[i].ProjectId" />
                                            <input type="hidden" name="TicketTypeId" value="@Model.Tickets[i].TicketTypeId" />
                                            <input type="hidden" name="TicketPriorityId" value="@Model.Tickets[i].TicketPriorityId" />
                                            <input type="hidden" name="TicketStatusId" value="@Model.Tickets[i].TicketStatusId" />
                                            <input type="hidden" name="OwnerUserId" value="@Model.Tickets[i].OwnerUserId" />
                                            <input type="hidden" name="DeveloperUserId" value="@Model.Developers[i].Id" />
                                            <button type="submit" value="Assign" class="btn btn-light" style="opacity:.9">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-plus"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="20" y1="8" x2="20" y2="14"></line><line x1="23" y1="11" x2="17" y2="11"></line></svg>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-md">
                    <div class="row">
                        @* Bar Chart *@
                        <div class="col-md">
                            <div class="widget widget-chart-two">
                                <div class="widget-heading">
                                    <h3 class="pb-3">Developers</h3>
                                </div>
                                <div class="widget-content">
                                    <div id="bar-chart"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
        {
            <div class="row mt-3">
                @* Donut Chart *@
                <div class="col-md ml-1">
                    <div id="userbasedonut">
                        <div class="widget widget-chart-two">
                            <div class="widget-heading">
                                <h3 class="pt-1 pl-1">Types of Users</h3>
                            </div>
                            <div class="widget-content">
                                <canvas id="myChart" height="200"></canvas>
                                @*<div id="donut-chart" class=""></div>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="row mr-1">
                        <div class="col widget">
                            <div class="widget-heading">
                                @if (User.IsInRole("Admin"))
                                {
                                    <h3 class="p-1">All Users</h3>
                                }
                                else
                                {
                                    <h3 class="p-1">Users on my projects</h3>
                                }
                            </div>
                            <div class="widget-content">
                                <table class="table table-striped table-responsive-md ticketsIndex">
                                    <thead>
                                        <tr>
                                            <th>
                                                Name
                                            </th>
                                            <th>
                                                Role
                                            </th>
                                            <th>
                                                Email
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var u in Model.UsersOnProject)
                                        {
                                            <tr>
                                                <td>
                                                    @u.FullName
                                                </td>
                                                <td>
                                                    @foreach (var role in await _rolesService.ListUserRoles(u))
                                                    {
                                                        if (role != "Demo")
                                                        {
                                                            @role
                                                        }
                                                        else
                                                        {
                                                            <span>,</span> @role
                                                        }
                                                    }
                                                </td>
                                                <td>
                                                    @u.Email
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        @if (User.IsInRole("Developer"))
        {
            @*<div class="row ml-1 mr-1 mb-5">
                <div class="col-md widget p-5">
                    <div class="widget-heading">
                        <h3 class="mb-4">All Tickets</h3>
                    </div>
                    <table class="table table-striped ticketsIndex table-responsive-md">
                        <thead>

                            <tr>
                                <th>
                                    Title
                                </th>
                                <th>
                                    Description
                                </th>
                                <th>
                                    Created
                                </th>
                                <th>
                                    Updated
                                </th>
                                <th>
                                    Project
                                </th>
                                <th>
                                    Type
                                </th>
                                <th>
                                    Priority
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Creator
                                </th>
                                <th>
                                    Developer
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ticket in Model.Tickets)
                            {
                                <tr>
                                    <td>
                                        @ticket.Title
                                    </td>
                                    <td>
                                        @Html.Raw(ticket.Description)
                                    </td>
                                    <td>
                                        @ticket.Created.ToString("G")
                                    </td>
                                    <td>
                                        @ticket.Updated.ToString().Replace(" +00:00", "")
                                    </td>
                                    <td>
                                        @ticket.Project.Name
                                    </td>
                                    <td>
                                        @ticket.TicketType.Name
                                    </td>
                                    <td>
                                        @ticket.TicketPriority.Name
                                    </td>
                                    <td>
                                        @ticket.TicketStatus.Name
                                    </td>
                                    <td>
                                        @ticket.OwnerUser.FullName
                                    </td>
                                    <td>
                                        @if (ticket.DeveloperUserId == null)
                                        {
                                            <p>Unassigned</p>
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(modelItem => ticket.DeveloperUser.FullName)
                                        }
                                    </td>
                                    <td>
                                        <a asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id" class="">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                                        </a>
                                        @if (User.IsInRole("Admin") ||
                                  User.IsInRole("ProjectManager") && await _projectService.IsUserOnProject(userId, ticket.ProjectId) ||
                                  User.IsInRole("Developer") && ticket.DeveloperUserId == userId ||
                                  User.IsInRole("Submitter") && ticket.OwnerUserId == userId)
                                        {
                                            <a asp-controller="Tickets" asp-action="Edit" asp-route-id="@ticket.Id" class="">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
                                            </a>
                                        }
                                        @if (User.IsInRole("Admin"))
                                        {
                                            <a asp-controller="Tickets" asp-action="Delete" asp-route-id="@ticket.Id" class="">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg>
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>*@
            @*<div class="row ml-1 mr-1 mb-5">
                <div class="col-md widget p-5">
                    <div class="widget-heading">
                        <h3 class="mb-4">Tickets on your projects</h3>
                    </div>
                    <table class="table table-striped ticketsIndex table-responsive-md">
                        <thead>

                            <tr>
                                <th>
                                    Title
                                </th>
                                <th>
                                    Description
                                </th>
                                <th>
                                    Created
                                </th>
                                <th>
                                    Updated
                                </th>
                                <th>
                                    Project
                                </th>
                                <th>
                                    Type
                                </th>
                                <th>
                                    Priority
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Creator
                                </th>
                                <th>
                                    Developer
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ticket in Model.TicketsOnDevProjs)
                            {
                                <tr>
                                    <td>
                                        @ticket.Title
                                    </td>
                                    <td>
                                        @Html.Raw(ticket.Description)
                                    </td>
                                    <td>
                                        @ticket.Created.ToString("G")
                                    </td>
                                    <td>
                                        @ticket.Updated.ToString().Replace(" +00:00", "")
                                    </td>
                                    <td>
                                        @ticket.Project.Name
                                    </td>
                                    <td>
                                        @ticket.TicketType.Name
                                    </td>
                                    <td>
                                        @ticket.TicketPriority.Name
                                    </td>
                                    <td>
                                        @ticket.TicketStatus.Name
                                    </td>
                                    <td>
                                        @ticket.OwnerUser.FullName
                                    </td>
                                    <td>
                                        @if (ticket.DeveloperUserId == null)
                                        {
                                            <p>Unassigned</p>
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(modelItem => ticket.DeveloperUser.FullName)
                                        }
                                    </td>
                                    <td>
                                        <a asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id" class="">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                                        </a>
                                        @if (User.IsInRole("Admin") ||
                                 User.IsInRole("ProjectManager") && await _projectService.IsUserOnProject(userId, ticket.ProjectId) ||
                                 User.IsInRole("Developer") && ticket.DeveloperUserId == userId ||
                                 User.IsInRole("Submitter") && ticket.OwnerUserId == userId)
                                        {
                                            <a asp-controller="Tickets" asp-action="Edit" asp-route-id="@ticket.Id" class="">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
                                            </a>
                                        }
                                        @if (User.IsInRole("Admin"))
                                        {
                                            <a asp-controller="Tickets" asp-action="Delete" asp-route-id="@ticket.Id" class="">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg>
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>*@
            <div class="row ml-1 mr-1 mt-3">
                <div class="col-md widget p-5">
                    <div class="widget-heading">
                        <h3 class="mb-4">Assignments</h3>
                    </div>
                    <table class="table table-striped ticketsIndex table-responsive-md">
                        <thead>

                            <tr>
                                <th>
                                    Title
                                </th>
                                <th>
                                    Description
                                </th>
                                <th>
                                    Created
                                </th>
                                <th>
                                    Updated
                                </th>
                                <th>
                                    Project
                                </th>
                                <th>
                                    Type
                                </th>
                                <th>
                                    Priority
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Creator
                                </th>
                                <th>
                                    Developer
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ticket in Model.TicketsAssignedToDev)
                            {
                                <tr>
                                    <td>
                                        @ticket.Title
                                    </td>
                                    <td>
                                        @Html.Raw(ticket.Description)
                                    </td>
                                    <td>
                                        @ticket.Created.ToString("G")
                                    </td>
                                    <td>
                                        @ticket.Updated.ToString().Replace(" +00:00", "")
                                    </td>
                                    <td>
                                        @ticket.Project.Name
                                    </td>
                                    <td>
                                        @ticket.TicketType.Name
                                    </td>
                                    <td>
                                        @ticket.TicketPriority.Name
                                    </td>
                                    <td>
                                        @ticket.TicketStatus.Name
                                    </td>
                                    <td>
                                        @ticket.OwnerUser.FullName
                                    </td>
                                    <td>
                                        @if (ticket.DeveloperUserId == null)
                                        {
                                            <p>Unassigned</p>
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(modelItem => ticket.DeveloperUser.FullName)
                                        }
                                    </td>
                                    <td>
                                        <a asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id" class="">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                                        </a>
                                        @if (User.IsInRole("Admin") ||
                                User.IsInRole("ProjectManager") && await _projectService.IsUserOnProject(userId, ticket.ProjectId) ||
                                User.IsInRole("Developer") && ticket.DeveloperUserId == userId ||
                                User.IsInRole("Submitter") && ticket.OwnerUserId == userId)
                                        {
                                            <a asp-controller="Tickets" asp-action="Edit" asp-route-id="@ticket.Id" class="">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
                                            </a>
                                        }
                                        @if (User.IsInRole("Admin"))
                                        {
                                            <a asp-controller="Tickets" asp-action="Delete" asp-route-id="@ticket.Id" class="">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg>
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }

        @if (User.IsInRole("Submitter"))
        {
            @*<div class="row ml-1 mr-1 mb-5">
                <div class="col-md widget p-5">
                    <div class="widget-heading">
                        <h3 class="mb-4">All Tickets</h3>
                    </div>
                    <table class="table table-striped ticketsIndex table-responsive-md">
                        <thead>

                            <tr>
                                <th>
                                    Title
                                </th>
                                <th>
                                    Description
                                </th>
                                <th>
                                    Created
                                </th>
                                <th>
                                    Updated
                                </th>
                                <th>
                                    Project
                                </th>
                                <th>
                                    Type
                                </th>
                                <th>
                                    Priority
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Creator
                                </th>
                                <th>
                                    Developer
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ticket in Model.Tickets)
                            {
                                <tr>
                                    <td>
                                        @ticket.Title
                                    </td>
                                    <td>
                                        @Html.Raw(ticket.Description)
                                    </td>
                                    <td>
                                        @ticket.Created.ToString("G")
                                    </td>
                                    <td>
                                        @ticket.Updated.ToString().Replace(" +00:00", "")
                                    </td>
                                    <td>
                                        @ticket.Project.Name
                                    </td>
                                    <td>
                                        @ticket.TicketType.Name
                                    </td>
                                    <td>
                                        @ticket.TicketPriority.Name
                                    </td>
                                    <td>
                                        @ticket.TicketStatus.Name
                                    </td>
                                    <td>
                                        @ticket.OwnerUser.FullName
                                    </td>
                                    <td>
                                        @if (ticket.DeveloperUserId == null)
                                        {
                                            <p>Unassigned</p>
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(modelItem => ticket.DeveloperUser.FullName)
                                        }
                                    </td>
                                    <td>
                                        <a asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id" class="">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                                        </a>
                                        @if (User.IsInRole("Admin") ||
                                User.IsInRole("ProjectManager") && await _projectService.IsUserOnProject(userId, ticket.ProjectId) ||
                                User.IsInRole("Developer") && ticket.DeveloperUserId == userId ||
                                User.IsInRole("Submitter") && ticket.OwnerUserId == userId)
                                        {
                                            <a asp-controller="Tickets" asp-action="Edit" asp-route-id="@ticket.Id" class="">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
                                            </a>
                                        }
                                        @if (User.IsInRole("Admin"))
                                        {
                                            <a asp-controller="Tickets" asp-action="Delete" asp-route-id="@ticket.Id" class="">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg>
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>*@
            <div class="row ml-1 mr-1 mb-5 mt-3">
                <div class="col-md widget p-5">
                    <div class="widget-heading">
                        <h3 class="mb-4">Submitted</h3>
                    </div>
                    <table class="table table-striped ticketsIndex table-responsive-md">
                        <thead>

                            <tr>
                                <th>
                                    Title
                                </th>
                                <th>
                                    Description
                                </th>
                                <th>
                                    Created
                                </th>
                                <th>
                                    Updated
                                </th>
                                <th>
                                    Project
                                </th>
                                <th>
                                    Type
                                </th>
                                <th>
                                    Priority
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Creator
                                </th>
                                <th>
                                    Developer
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ticket in Model.TicketsCreatedByMe)
                            {
                                <tr>
                                    <td>
                                        @ticket.Title
                                    </td>
                                    <td>
                                        @Html.Raw(ticket.Description)
                                    </td>
                                    <td>
                                        @ticket.Created.ToString("G")
                                    </td>
                                    <td>
                                        @ticket.Updated.ToString().Replace(" +00:00", "")
                                    </td>
                                    <td>
                                        @ticket.Project.Name
                                    </td>
                                    <td>
                                        @ticket.TicketType.Name
                                    </td>
                                    <td>
                                        @ticket.TicketPriority.Name
                                    </td>
                                    <td>
                                        @ticket.TicketStatus.Name
                                    </td>
                                    <td>
                                        @ticket.OwnerUser.FullName
                                    </td>
                                    <td>
                                        @if (ticket.DeveloperUserId == null)
                                        {
                                            <p>Unassigned</p>
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(modelItem => ticket.DeveloperUser.FullName)
                                        }
                                    </td>
                                    <td>
                                        <a asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id" class="">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                                        </a>
                                        @if (User.IsInRole("Admin") ||
                               User.IsInRole("ProjectManager") && await _projectService.IsUserOnProject(userId, ticket.ProjectId) ||
                               User.IsInRole("Developer") && ticket.DeveloperUserId == userId ||
                               User.IsInRole("Submitter") && ticket.OwnerUserId == userId)
                                        {
                                            <a asp-controller="Tickets" asp-action="Edit" asp-route-id="@ticket.Id" class="">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
                                            </a>
                                        }
                                        @if (User.IsInRole("Admin"))
                                        {
                                            <a asp-controller="Tickets" asp-action="Delete" asp-route-id="@ticket.Id" class="">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg>
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }

        @if (User.IsInRole("NewUser"))
        {
            <div class="row ml-1 mr-1 mb-5 mt-3">
                <div class="col-md widget p-5">
                    <div class="widget-heading">
                        <h3 class="mb-4">All Tickets</h3>
                    </div>
                    <table class="table table-striped ticketsIndex table-responsive-md">
                        <thead>

                            <tr>
                                <th>
                                    Title
                                </th>
                                <th>
                                    Description
                                </th>
                                <th>
                                    Created
                                </th>
                                <th>
                                    Updated
                                </th>
                                <th>
                                    Project
                                </th>
                                <th>
                                    Type
                                </th>
                                <th>
                                    Priority
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Creator
                                </th>
                                <th>
                                    Developer
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ticket in Model.Tickets)
                            {
                                <tr>
                                    <td>
                                        @ticket.Title
                                    </td>
                                    <td>
                                        @Html.Raw(ticket.Description)
                                    </td>
                                    <td>
                                        @ticket.Created.ToString("G")
                                    </td>
                                    <td>
                                        @ticket.Updated.ToString().Replace(" +00:00", "")
                                    </td>
                                    <td>
                                        @ticket.Project.Name
                                    </td>
                                    <td>
                                        @ticket.TicketType.Name
                                    </td>
                                    <td>
                                        @ticket.TicketPriority.Name
                                    </td>
                                    <td>
                                        @ticket.TicketStatus.Name
                                    </td>
                                    <td>
                                        @ticket.OwnerUser.FullName
                                    </td>
                                    <td>
                                        @if (ticket.DeveloperUserId == null)
                                        {
                                            <p>Unassigned</p>
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(modelItem => ticket.DeveloperUser.FullName)
                                        }
                                    </td>
                                    <td>
                                        <a asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id" class="">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                                        </a>
                                        @if (User.IsInRole("Admin") ||
                              User.IsInRole("ProjectManager") && await _projectService.IsUserOnProject(userId, ticket.ProjectId) ||
                              User.IsInRole("Developer") && ticket.DeveloperUserId == userId ||
                              User.IsInRole("Submitter") && ticket.OwnerUserId == userId)
                                        {
                                            <a asp-controller="Tickets" asp-action="Edit" asp-route-id="@ticket.Id" class="">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
                                            </a>
                                        }
                                        @if (User.IsInRole("Admin"))
                                        {
                                            <a asp-controller="Tickets" asp-action="Delete" asp-route-id="@ticket.Id" class="">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg>
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>
</div>

@section scripts {
    <script>
        ChartJsDonut('@Url.Action("PieData", "Charts")');
        @*ApexDonut('@Url.Action("PieData", "Charts")');*@
        InitBarChart('@Url.Action("BarData", "Charts")');
    </script>
}