@model Komodo.Models.ViewModels.ProjectUsersViewModel

@{
    ViewBag.Title = "Assign Users";
}


<h2>Assign Users</h2>
<div class="panel panel-green margin-bottom-40"></div>
<p>Name: <span>@Model.Project.Name</span></p>
<div class="row">
    <div class="col-md-6">
        <form asp-action="AssignUsers" asp-controller="Projects" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Project.Id" />
            <input type="hidden" asp-for="@Model.Project.Name" />
            <div class="col-12">
                <div class="form-group">
                    <label asp-for="@Model.Users">Add team members for Project: @Model.Project.Name</label>
                    <select asp-for="@Model.SelectedUsers" class="form-control" asp-items="@Model.Users" multiple="multiple"></select>
                </div>
            </div>
            <button type="submit" class="btn btn-outline-dark">Add</button>
        </form>
    </div>
    <div class="col-md-6">
        <form asp-action="AssignUsers" asp-controller="Projects" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Project.Id" />
            <input type="hidden" asp-for="@Model.Project.Name" />
            <div class="col-12">
                <div class="form-group">
                    <label asp-for="@Model.Users">Remove team members for Project: @Model.Project.Name</label>
                    <select asp-for="@Model.SelectedUsers" class="form-control" asp-items="@Model.Users" multiple="multiple"></select>
                </div>
            </div>
            <button type="submit" class="btn btn-outline-dark">Remove</button>
        </form>
    </div>
</div>