@model IEnumerable<Komodo.Models.ViewModels.ManageUserRolesViewModel>
@{
    ViewData["Title"] = "Manage User Roles";
}
<div class="row ml-1">
    <div class="col-md">
        <div class="row">
            <h1 class="">Manage the Roles of Users</h1>
            <p class="text-muted font-13 mb-3">
                This form displays the current roles assigned to each user. Use the dropdown to select the roles that this user should be assigned. Once roles are selected, click "Assign Roles" to submit the form.
            </p>
            <div class="widget p-5">
                <table class="table table-striped table-responsive-md ticketsIndex">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Roles
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var btuser in Model.OrderBy(u => u.User.FullName))
                        {
                            <tr>
                                <form asp-controller="UserRoles" asp-action="ManageUserRoles" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="@btuser.User.Id">
                                    <td>
                                        <label asp-for="@btuser.Roles" class="control-label">Roles for @btuser.User.FullName</label>
                                    </td>
                                    <td>
                                        <select asp-for="@btuser.SelectedRole" class="form-control" asp-items="ViewBag.Roles">
                                            <option selected="selected" style="display: none">@btuser.SelectedRole</option>
                                        </select>
                                        @*<select asp-for="@btuser.SelectedRoles" class="form-control" asp-items="@btuser.Roles"></select>*@
                                    </td>
                                    <td>
                                        <input type="submit" value="Assign" class="btn btn-light" />
                                        <a class="btn btn-dark" asp-controller="UserRoles" asp-action="ManageUserRoles">Cancel</a>
                                    </td>
                                </form>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>