@model IEnumerable<Komodo.Models.Project>
@inject Microsoft.AspNetCore.Identity.UserManager<BTUser> _userManager
@{
    ViewData["Title"] = "Project Tickets";
    var userId = _userManager.GetUserId(User);
}

<h1>Tickets on my projects</h1>

<p>
    <a class="btn btn-outline-dark" asp-action="Create">New Ticket</a>
</p>

<table id="ticketsIndex" class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Created
            </th>
            <th>
                Updated
            </th>
            <th>
                Project
            </th>
            <th>
                Type
            </th>
            <th>
                Priority
            </th>
            <th>
                Status
            </th>
            <th>
                Owner
            </th>
            <th>
                Developer
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var project in Model)
    {
        @foreach (var ticket in project.Tickets)
        {
            <tbody>
                <tr>
                    <td>
                        @ticket.Title
                    </td>
                    <td>
                        @ticket.Description
                    </td>
                    <td>
                        @ticket.Created
                    </td>
                    <td>
                        @ticket.Updated
                    </td>
                    <td>
                        @ticket.Project.Name
                    </td>
                    <td>
                        @ticket.TicketType.Name
                    </td>
                    <td>
                        @ticket.TicketPriority.Name
                    </td>
                    <td>
                        @ticket.TicketStatus.Name
                    </td>
                    <td>
                        @ticket.OwnerUser.FullName
                    </td>
                    <td>
                        @if (ticket.DeveloperUserId == null)
                        {
                            <p>Unassigned</p>
                        }
                        else
                        {
                            @ticket.DeveloperUser.FullName
                        }
                    </td>
                    <td>
                        <a asp-action="ProjectTicketDetails" asp-route-id="@ticket.Id">Details</a>
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-action="Edit" asp-route-id="@ticket.Id">Edit</a>
                            <a asp-action="Delete" asp-route-id="@ticket.Id">Delete</a>
                        }
                        @if (User.IsInRole("ProjectManager"))
                        {
                            <a asp-action="Edit" asp-route-id="@ticket.Id">Edit</a>
                        }
                        @if (User.IsInRole("Developer") && ticket.DeveloperUserId == userId)
                        {
                            <a asp-action="Edit" asp-route-id="@ticket.Id">Edit</a>
                        }
                    </td>
                </tr>
            </tbody>
        }
    }
</table>