@model Komodo.Models.ViewModels.ScrumVM
@{
    ViewData["Title"] = "Scrumboard";
}
<div class="row scrumboard" id="cancel-row">
    <div class="col-lg-12 layout-spacing">

        <div class="task-list-section">

            <div data-section="s-new" class="task-list-container" data-connect="sorting">
                <div class="connect-sorting">
                    <div class="task-container-header">
                        <h6 class="s-heading" data-listTitle="In Progress">Opened</h6>
                    </div>

                    <div id="Opened" class="connect-sorting-content" data-sortable="true">
                        @foreach (var ticket in Model.Opened)
                        {
                            <div id="@ticket.Id" data-draggable="true" class="card task-text-progress" style="">
                                <div class="card-body">

                                    <div class="task-header">
                                        <div class="">
                                            <h4 class="" data-taskTitle="Launch New SEO Wordpress Theme ">Title: @ticket.Title</h4>
                                            <h6 class="text-white-50 mb-0" data-taskTitle="Launch New SEO Wordpress Theme ">Project: @ticket.Project.Name</h6>
                                            <h6 class="text-white-50" data-taskTitle="Launch New SEO Wordpress Theme " style="font-size:.9rem">Id: @ticket.Id</h6>
                                        </div>
                                        <div class="tb-section-2">
                                            <a asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id" class="text-white-50">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                                            </a>
                                            <a asp-controller="Tickets" asp-action="Edit" asp-route-id="@ticket.Id" class="text-white-50">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
                                            </a>
                                            @if (User.IsInRole("Admin"))
                                            {
                                                <a asp-controller="Tickets" asp-action="Delete" asp-route-id="@ticket.Id" class="text-white-50">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg>
                                                </a>
                                            }
                                        </div>
                                    </div>

                                    <div class="task-body">
                                        <div class="task-content">
                                            <p data-taskText="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.">@Html.Raw(ticket.Description)</p>
                                        </div>

                                        <div class="task-bottom">
                                            <div class="tb-section-1">
                                                @if (ticket.Updated == null)
                                                {
                                                    <span data-taskDate="08 Aug 2019">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                                                        @ticket.Created.ToString("g")
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span data-taskDate="08 Aug 2019">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                                                        @ticket.Updated.ToString().Replace(" +00:00", "")
                                                    </span>
                                                }
                                            </div>
                                            <div class="tb-section-2">
                                                <span>Priority: @ticket.TicketPriority.Name</span><br />
                                                <span>Type: @ticket.TicketType.Name</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div data-section="s-in-progress" class="task-list-container" data-connect="sorting">
                <div class="connect-sorting">
                    <div class="task-container-header">
                        <h6 class="s-heading" data-listTitle="Complete">Development</h6>
                    </div>
                    <div id="Development" class="connect-sorting-content" data-sortable="true">
                        @foreach (var ticket in Model.Development)
                        {
                            <div id="@ticket.Id" data-draggable="true" class="card task-text-progress" style="">
                                <div class="card-body">

                                    <div class="task-header">
                                        <div class="">
                                            <h4 class="" data-taskTitle="Launch New SEO Wordpress Theme ">Title: @ticket.Title</h4>
                                            <h6 class="text-white-50 mb-0" data-taskTitle="Launch New SEO Wordpress Theme ">Project: @ticket.Project.Name</h6>
                                            <h6 class="text-white-50" data-taskTitle="Launch New SEO Wordpress Theme " style="font-size:.9rem">Id: @ticket.Id</h6>
                                        </div>
                                        <div class="tb-section-2">
                                            <a asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id" class="text-white-50">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                                            </a>
                                            <a asp-controller="Tickets" asp-action="Edit" asp-route-id="@ticket.Id" class="text-white-50">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
                                            </a>
                                            @if (User.IsInRole("Admin"))
                                            {
                                                <a asp-controller="Tickets" asp-action="Delete" asp-route-id="@ticket.Id" class="text-white-50">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg>
                                                </a>
                                            }
                                        </div>
                                    </div>

                                    <div class="task-body">
                                        <div class="task-content">
                                            <p data-taskText="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.">@Html.Raw(ticket.Description)</p>
                                        </div>

                                        <div class="task-bottom">
                                            <div class="tb-section-1">
                                                @if (ticket.Updated == null)
                                                {
                                                    <span data-taskDate="08 Aug 2019">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                                                        @ticket.Created.ToString("g")
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span data-taskDate="08 Aug 2019">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                                                        @ticket.Updated.ToString().Replace(" +00:00", "")
                                                    </span>
                                                }
                                            </div>
                                            <div class="tb-section-2">
                                                <span>Priority: @ticket.TicketPriority.Name</span><br />
                                                <span>Type: @ticket.TicketType.Name</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div data-section="s-approved" class="task-list-container" data-connect="sorting">

                <div class="connect-sorting">
                    <div class="task-container-header">
                        <h6 class="s-heading" data-listTitle="New">Quality Assurance</h6>
                    </div>
                    <div id="QA" class="connect-sorting-content" data-sortable="true">
                        @foreach (var ticket in Model.QualityAssurance)
                        {
                            <div id="@ticket.Id" data-draggable="true" class="card task-text-progress" style="">
                                <div class="card-body">

                                    <div class="task-header">
                                        <div class="">
                                            <h4 class="" data-taskTitle="Launch New SEO Wordpress Theme ">Title: @ticket.Title</h4>
                                            <h6 class="text-white-50 mb-0" data-taskTitle="Launch New SEO Wordpress Theme ">Project: @ticket.Project.Name</h6>
                                            <h6 class="text-white-50" data-taskTitle="Launch New SEO Wordpress Theme " style="font-size:.9rem">Id: @ticket.Id</h6>
                                        </div>
                                        <div class="tb-section-2">
                                            <a asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id" class="text-white-50">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                                            </a>
                                            <a asp-controller="Tickets" asp-action="Edit" asp-route-id="@ticket.Id" class="text-white-50">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
                                            </a>
                                            @if (User.IsInRole("Admin"))
                                            {
                                                <a asp-controller="Tickets" asp-action="Delete" asp-route-id="@ticket.Id" class="text-white-50">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg>
                                                </a>
                                            }
                                        </div>
                                    </div>

                                    <div class="task-body">
                                        <div class="task-content">
                                            <p data-taskText="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.">@Html.Raw(ticket.Description)</p>
                                        </div>

                                        <div class="task-bottom">
                                            <div class="tb-section-1">
                                                @if (ticket.Updated == null)
                                                {
                                                    <span data-taskDate="08 Aug 2019">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                                                        @ticket.Created.ToString("g")
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span data-taskDate="08 Aug 2019">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                                                        @ticket.Updated.ToString().Replace(" +00:00", "")
                                                    </span>
                                                }
                                            </div>
                                            <div class="tb-section-2">
                                                <span>Priority: @ticket.TicketPriority.Name</span><br />
                                                <span>Type: @ticket.TicketType.Name</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div data-section="s-approved" class="task-list-container" data-connect="sorting">

                <div class="connect-sorting">
                    <div class="task-container-header">
                        <h6 class="s-heading" data-listTitle="New">Closed</h6>
                    </div>
                    <div id="Closed" class="connect-sorting-content" data-sortable="true">
                        @foreach (var ticket in Model.Closed)
                        {
                            <div id="@ticket.Id" data-draggable="true" class="card task-text-progress" style="">
                                <div class="card-body">

                                    <div class="task-header">
                                        <div class="">
                                            <h4 class="" data-taskTitle="Launch New SEO Wordpress Theme ">Title: @ticket.Title</h4>
                                            <h6 class="text-white-50 mb-0" data-taskTitle="Launch New SEO Wordpress Theme ">Project: @ticket.Project.Name</h6>
                                            <h6 class="text-white-50" data-taskTitle="Launch New SEO Wordpress Theme " style="font-size:.9rem">Id: @ticket.Id</h6>
                                        </div>
                                        <div class="tb-section-2">
                                            <a asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id" class="text-white-50">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                                            </a>
                                            <a asp-controller="Tickets" asp-action="Edit" asp-route-id="@ticket.Id" class="text-white-50">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
                                            </a>
                                            @if (User.IsInRole("Admin"))
                                            {
                                                <a asp-controller="Tickets" asp-action="Delete" asp-route-id="@ticket.Id" class="text-white-50">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg>
                                                </a>
                                            }
                                        </div>
                                    </div>

                                    <div class="task-body">
                                        <div class="task-content">
                                            <p data-taskText="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.">@Html.Raw(ticket.Description)</p>
                                        </div>

                                        <div class="task-bottom">
                                            <div class="tb-section-1">
                                                @if (ticket.Updated == null)
                                                {
                                                    <span data-taskDate="08 Aug 2019">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                                                        @ticket.Created.ToString("g")
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span data-taskDate="08 Aug 2019">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                                                        @ticket.Updated.ToString().Replace(" +00:00", "")
                                                    </span>
                                                }
                                            </div>
                                            <div class="tb-section-2">
                                                <span>Priority: @ticket.TicketPriority.Name</span><br />
                                                <span>Type: @ticket.TicketType.Name</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>